.App {
  text-align: center;
  height: 100%;
  
}

.navigation {
  width: 70rem;
  height: 10vh;

  margin: 0 auto;
  background-color: white;
}

.container {
  text-align: left;
  width: 70rem;
  height: 90vh;
  margin: 0 auto;
  background-color: white;
}

.container_left {
  text-align: left;
  margin-left: 5rem;
  width: 28rem;
  float: left;
}

.container_right {
  text-align: left;
  margin-right: 5rem;
  width: 28rem;
  float: right;
}

.logo {
  text-align: left;
  margin-top: 1.25rem;
}

.login {
  text-align: right;
  font-family: -윤고딕320;
  font-size : 1.5rem;
  margin-top: 1.25rem;
  margin-right: 1rem;
}


.after-box {
  clear: left;
}

.table {
  text-align: center;
}

.inputButton {
	box-shadow: 2px 3px 0px 0px rgba(164,0,0);
	background-color:rgba(164,0,0);
	border-radius:28px;
	border:1px solid rgba(164,0,0);
	display:inline;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:0.1rem 3rem;
	text-decoration:none;
  margin-top: 1rem;
  margin-right: 1rem;
}

.inputButton:active {
	position:relative;
	top:1px;
}

.resetButton {
	box-shadow: 2px 3px 0px 0px rgba(237,237,237);
	background-color:rgba(237,237,237);
	border-radius:28px;
	border:1px solid rgba(237,237,237);
	display:inline;
	cursor:pointer;
	color:#000000;
	font-size:17px;
	padding:0.1rem 3rem;
	text-decoration:none;
  margin-top: 1rem;
  margin-right: 1rem;
}

.resetButton:active {
	position:relative;
	top:1px;
}

.textbox {
  width: 7rem;
  height: 2rem;
  border-radius: 28px;
  border:1px solid rgba(200,200,200);
  font-size: 1rem;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}